<div class = "sign-up-body">

<div class = "sign-up-page container center-align hoverable sign-up-box">
  <h3>Create an Account</h3>
  <form action= "/signup/create" method="POST">

   <label for="nickName"></label>
   <input name = "nickName" type="text" id="nickName"  placeholder="Enter Name"
   value="">


   <label for='usernameSignup'></label>
   <input name="usernameSignup" id = "usernameSignup" type="email" 
   placeholder="Enter Email" value="">


   <label for='password'></label>
   <input name="password" id="passwordSignup" type="text"
    placeholder="Create Password" value="">

     <label for='password2'></label>
   <input name="password2" id="passwordSignup2" type="text"
    placeholder="Confirm Password" value="">
  
   <button class="waves-effect waves-light btn sign-up-btn">Register</button>
  
  
  </form>



  </div>

</div>