
<div id= "container-of-pokemon">
 
</div>

  <ul class="pagination center">
    <li class="waves-effect"><a href="#!"><i class="material-icons" id="backbtn"><</i></a></li>

    <li class="waves-effect"><a href="#!"><i class="material-icons" id="nextbtn">></i></a></li>
  </ul>
  
  <script src="javascripts/displayPokemon.js"></script>