@import url("https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

html, body{
  margin: 0;
  height: 100%;
  background: lightyellow;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.poke-btn {
  color:black !important;
  background-color: rgba(250, 250, 250,.8) !important;
}

#container-of-pokemon{
  display:flex;
  flex-wrap:wrap;
}

.pokemon-container{
  width:100px;
  margin: 5px 5%;
}
.mypokemon-container{
  width:200px;
  margin:5px 5%;
}


.sign-up-body{
  position: relative;
  height: 100vh;
  background-color: red;

}
.sign-up-box{
    width: 90%;
    background-color: white;
    position: absolute;
    top: 25%;
    left: 15%;
}
.sign-up-btn{
  width:100%;
}
#container-of-myteam{
  display:flex;
  flex-wrap:wrap;
}


.myTeamImages{
  width:150px;
  height:120px;
}
.card-btn{
  width: 100% !important;
}
.card-width{
  width:100% !important;
}
.card-header{
  font-size: 20px !important;
  color: black;

}
.card-header, span{
  text-shadow:1px 0 0 #fff,
   -1px 0 0 #fff, 0 1px 0 #fff,
    0 -1px 0 #fff, 1px 1px #fff,
     -1px -1px 0 #fff,
      1px -1px 0 #fff,
       -1px 1px 0 #fff ;
}
.card .card-image .card-title {
  color:black !important
}
.collapsible-title{
  font-size: 15px;
  padding: 0px;
  margin: 10px;
}
.collapsible-size{
  margin:0px 0px !important;
  width:100% !important;
 
}
.collapsible-title2{
  margin:0px;
  padding:0px;
}
.card-width{
  padding:0px;
}
.btn-delete-edit{
  display:flex;
}
.websiteInfo{
  background:white;
  width: 400px;
  height:400px;
  margin: 20px 100px;
  border:solid;
}
.homeScreenStuff{
  display: flex;
  min-height:80vh;
  margin: 150px 100px 0px 100px;
  flex-wrap:wrap;
}
.information{
  margin: 50px;
}
.information p{
  font-size: 25px;
}
.the-footer{
  background: lightslategray !important;
  height: 200px;
  position:static;
  bottom:0;
}
body .btn-bg.Pokemon {
  width: 600px;
  margin: 110px 50px;
}

body .btn-bg.Pokemon .btn-group .ball button {
  border: 5px solid #50514f;
  border-radius: 5px;
  background: transparent;
  overflow: hidden;
  position: relative;
}
body .btn-bg.Pokemon .btn-group .ball button:hover {
  border-color: #ffd740;
}
body .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::before {
  transform: translate3d(0, -100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button:hover .pokemon-ball::after {
  transform: translate3d(0, 100%, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button:hover a {
  transition: none;
  color: transparent;
  z-index: 999;
}
body .btn-bg.Pokemon .btn-group .ball button:hover a::before {
  transform: translate3d(100%, 0, 0);
}
body .btn-bg.Pokemon .btn-group .ball button:hover a span:first-child::before,
body .btn-bg.Pokemon .btn-group .ball button:hover a span:nth-child(2)::before {
  transition-delay: 0.3s;
  transform: translate3d(0, 0, 0);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball {
  position: absolute;
  content: 'Go!';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::before,
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: #ef594f;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
body .btn-bg.Pokemon .btn-group .ball button .pokemon-ball::after {
  top: 50%;
  background: #fff;
}
body .btn-bg.Pokemon .btn-group .ball button a {
  color: #50514f;
  font-weight: 600;
  font-size: 1.5em;
  transition: color 0.5s 0.25s;
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 999;
}
body .btn-bg.Pokemon .btn-group .ball button a::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  background: #50514f;
  top: calc(50% - 2.5px);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transform: translate3d(-100%, 0, 0);
}
body .btn-bg.Pokemon .btn-group .ball button a span {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  overflow: hidden;
}
body .btn-bg.Pokemon .btn-group .ball button a span::before {
  position: absolute;
  content: attr(data-letters);
  left: 0;
  width: 100%;
  color: #fff;
  transition: transform 0.5s;
}
body .btn-bg.Pokemon .btn-group .ball button a span:first-child::before {
  top: 0;
  color: #ef594f;
  transform: translate3d(0, 100%, 0);
}
body .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2) {
  top: 50%;
}
body .btn-bg.Pokemon .btn-group .ball button a span:nth-child(2)::before {
  bottom: 0;
  transform: translate3d(0, -100%, 0);
}
.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // max-width: 1200px;
}
@media screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.btn-pokemon {

  margin: 0 30px 30px 30px;
  display: block;
  margin: 0 auto;
}
.btn-info {
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Lato';
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 3.5em;
  color: black;
}
.btn-mention {
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Lato';
  letter-spacing: 0.1em;
  font-size: 1.1em;
  color: black;
}
.btn-mention span {
  font-size: 1.2em;
  font-weight: 600;
}
button {
  cursor: pointer;
  overflow: visible;
  outline: none;
  color:black;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}
@-moz-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-webkit-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-o-keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@keyframes wave {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.975);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
@-moz-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-webkit-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@-o-keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}
@keyframes smallwave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: rotate(180deg) scale(0.95);
    opacity: 0.25;
  }
  100% {
    transform: rotate(360deg) scale(1);
    opacity: 0.8;
  }
}