<div class= "login-body">
  <div class="login-box container center-align">
    <h3>Log In to your account</h3>
    <form action="/login" method= "POST">
    <label for="username"></label>
    <input name="username" type="email"  placeholder="Enter email">

    <label for="password"></label>
    <input name="password" type="text" placeholder="password">

       <button class="waves-effect waves-light btn sign-up-btn">Log In</button>
    </form>


  </div>



</div>